.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.search_none {
  display: none;
}

.search_in {
  height: 65px;
  display: flex;
  background-color: white;
  border-radius: 100px;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 5px 5px 10px #0000003c;
  width: 860px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search_in_grey {
  height: 65px;
  display: flex;
  background-color: rgb(250, 250, 250);
  border-radius: 100px;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 5px 5px 10px #0000003c;
  width: 860px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search_boldtext {
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.search_inputtext {
  border: none;
  color: gray;
  font-size: 14px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  width: 100px;
  height: 20px;
}

.search_inputtext_bold {
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

.search_findbutton {
  background-color: #ff385c;
  border-radius: 100px;
  padding: 15px;
}

.search_findicon {
  color: white;
}

.search_location {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  height: 100%;
  padding: 10px 10px 10px 30px;
  align-items: center;
  border-radius: 40px;
  text-decoration: none;
  width: 150px;
  height: 65px;
}

.search_location_shadow {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  height: 100%;
  padding: 10px 10px 10px 30px;
  align-items: center;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
  width: 150px;
  height: 65px;
}

.search_location_flexible {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  height: 100%;
  padding: 10px 30px;
  align-items: center;
  border-radius: 40px;
  text-decoration: none;
  width: 269px;
}

.search_location_flexible_shadow {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  height: 100%;
  padding: 10px 30px;
  align-items: center;
  border-radius: 40px;
  text-decoration: none;
  width: 269px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.search_location_flexible:hover {
  background-color: rgb(237, 236, 236);
  cursor: pointer;
}

.search_location2 {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  height: 100%;
  padding: 10px 10px 10px 30px;
  align-items: center;
  border-radius: 40px;
}

.search_location:hover {
  background-color: rgb(237, 236, 236);
  cursor: pointer;
}

.search_bar {
  border-right: 1px solid rgb(205, 205, 205);
  width: 1px;
  height: 30px;
}

.active {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.226);
}

@media screen and (max-width: 950px) {
  .search_in {
    max-width: 90%;
  }
}

@media screen and (max-width: 740px) {
  .search_in {
    display: none;
  }

  .search {
    margin: 15px 15px 0px 15px;
  }
}
