.hosting {
  position: relative;
  padding: 60px 80px;
}

.hosting_group {
  display: flex;
  position: relative;
}

.hosting_img1 {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.hosting_img2,
.hosting_img3 {
  display: none;
}

.hosting_text {
  color: white;
  position: absolute;
  top: 35%;
  left: 80px;
}

.hosting_headtext {
  color: white;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 10px;
}

.hosting_subtext {
  color: white;
}

.hosting_button {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 16px;
  width: 170px;
  height: 50px;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
}

@media screen and (max-width: 1125px) {
  .hosting_button {
    font-weight: 700;
    font-size: 12px;
    width: 130px;
    height: 35px;
    border-radius: 6px;
    border: none;
  }
  .hosting_headtext {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .hosting_text {
    top: 40%;
  }
  .hosting_img2 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }
  .hosting_img1 {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .hosting {
    padding: 60px 20px;
  }
  .hosting_img3 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  .hosting_img2 {
    display: none;
  }
  .hosting_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30px;
    width: 80%;
  }
  .hosting_group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
