.checkdate_container {
  background-color: white;
  width: 860px;
  border-radius: 30px;
  padding: 30px 50px 40px;
  box-shadow: 0px 10px 10px #00000027;
}

.checkdate {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.checkdate_header_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkdate_header {
  display: flex;
  background-color: rgb(227, 226, 226);
  border-radius: 30px;
  width: 150px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin-bottom: 50px;
}

.checkdate_button_T {
  background-color: white;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
}

.checkdate_button_F:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.461);
}

.checkdate_button_F {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
}

.checkdate_calendar_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.checkdate_calendar_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 15px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.checkdate_calendar_arrow {
  font-size: 12px;
  border-radius: 30px;
}

.checkdate_calendar_header > span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 12px;
  color: gray;
  font-weight: 600;
}

tr {
  display: flex;
  justify-content: space-between;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

td:hover {
  border: 1px solid black;
}
