.searchLocation {
  width: 860px;
  height: 100px;
}

.searchLocation_in {
  background-color: white;
  width: 500px;
  height: 150px;
  border-radius: 30px;
  padding: 30px;
  list-style: none;
}

.searchLocation_maintext {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 800;
}

.searchLocation_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid rgb(221, 221, 221);
}

.searchLocation_bar_text {
  color: rgb(109, 34, 180);
  font-size: 18px;
  font-weight: 800;
}

.searchLocation_icon {
  color: rgb(109, 34, 180);
}
