.home_mainBanner_img{
  position: relative;
  height: 700px;
}

.MainBanner_img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 700px;
}

.MainBanner_img2{
  display: none;
}

.home_main_top{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.home_mainbanner{
  position: absolute;
  top: 200px;
  z-index: 1;
}

.home_footer{
  padding: 60px 80px 0px 80px;
  background-color: rgb(240,240,240);
  border-top: 1px solid rgb(224, 224, 224);
}

@media screen and (max-width:1125px) {
  .home_footer{
    padding: 20px 20px 0px 20px;
  }
}

@media screen and (max-width:740px) {
  .MainBanner_img{
    display: none;
  }

  .MainBanner_img2{
    display: block;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }
}