* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Idea {
  position: relative;
  padding: 60px 80px;
}

.Idea_group {
  display: flex;
  position: relative;
}

.Idea_img1 {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.Idea_img2,
.Idea_img3 {
  display: none;
}

.Idea_text {
  position: absolute;
  top: 35%;
  left: 80px;
}

.Idea_headtext {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 5px;
}

.Idea_subtext {
  padding-bottom: 40px;
  font-size: 18px;
}

.Idea_button {
  background-color: black;
  color: white;
  border-radius: 6px;
  width: 160px;
  height: 45px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1440px) {
  .Idea_img1 {
    display: none;
  }
  .Idea_img2 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  .Idea_text {
    top: 30%;
  }
}

@media screen and (max-width: 1127px) {
  .Idea_text {
    top: 35%;
    left: 50px;
  }
  .Idea_headtext {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  .Idea_button {
    background-color: black;
    color: white;
    border-radius: 6px;
    width: 140px;
    height: 35px;
    border: none;
    font-size: 14px;
    font-weight: 600;
  }
  .Idea_subtext {
    padding-bottom: 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 740px) {
  .Idea {
    padding: 60px 20px;
  }
  .Idea_img2 {
    display: none;
  }
  .Idea_img3 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  .Idea_text {
    top: 40%;
  }
  .Idea_img2 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }
  .Idea_img1 {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .Idea {
    padding: 60px 20px;
  }
  .Idea_img3 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  .Idea_img2 {
    display: none;
  }
  .Idea_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    width: 80%;
  }
  .Idea_group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
