.stay_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.stay_container_sub {
  width: 100%;
  padding: 0px 80px;
}

.stay_header {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

.stay_list {
  display: flex;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0px 20px;
}

.stay_list_img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.stay_list_textContainer {
  margin-top: 10px;
}

.stay_list_text {
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 740px) {
  .stay_container_sub {
    padding: 0px 20px;
  }
}
